.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.column {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}

.favorite,
.income-card
 {
  flex: 1;
  /* min-width: 250px;
  max-width: 400px; */
}
.LiChart,
.IncomeChart {
  flex: 1; /* ทำให้องค์ประกอบยืดหดตามขนาดของพื้นที่ที่ว่างอยู่ */
  margin: 0 10px; /* กำหนดระยะห่างระหว่าง LiChart และ IncomeChart */
}

.home-container h1,
.home-container h2,
.home-container p {
  text-align: center;
}
